{% extends "blog/base.html" %}
{% block content %}
	<h1>About Page</h1>
	Welcome to Emma Blog,
	<p>This site was built just for the purpose of sharing information, 
	discussing issues regarding the society and world at large. Related duscussion includes Love and Respect, Health and Well-being, Science and technology,
	Religion and Politics, Entertainment and show Business. </p>
	<p> Participants or users allowed are above 18 years old and people from all works of 
	life, tribe and race are permitted to express their view in response to each topic discussed. Respect each
	and everyone opinion and avoid malicious abuse. </p>
{% endblock content %}
